@media (max-width: 1200px) {
    .container {
        width: 95%;
    }
}

@media (max-width: 770px) {
    .container {
        width: 90%;
        background-color: red
    }

    .info-box {
        width: 80%;
        margin: 20px auto;
        text-align: center;
        justify-content: center;
        transition: cubic-bezier();
    }
    h5 {
        margin: 0 auto;
    }

    .forms-box {
        flex-direction: column;
        align-items: center;
        grid-auto-rows: max-content;
    
    }
    .input-box {
        max-width: 100%;
        margin-top: 30px;
    }
    .textarea-box {
        margin-right: 0;
    }
}